# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env/

# Environment variables
.env
.env.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/
.vercel
